In [9]:
import yfinance as yf
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import pandas as pd

In [5]:
stock="^NSEI"
df=yf.download(stock,period="60d",interval="5m")
df.columns = ['Close', 'High', 'Low', 'Open', 'Volume']
df.tail()

[*********************100%***********************]  1 of 1 completed

,Close,High,Low,Open,Volume
Datetime,,,,,
2025-05-12 09:35:00+00:00,24905.699219,24912.500000,24898.349609,24909.500000,0
2025-05-12 09:40:00+00:00,24907.449219,24915.050781,24905.150391,24905.750000,0
2025-05-12 09:45:00+00:00,24941.000000,24944.199219,24904.750000,24906.050781,0
2025-05-12 09:50:00+00:00,24934.000000,24943.650391,24928.650391,24941.449219,0
2025-05-12 09:55:00+00:00,24920.250000,24935.449219,24920.250000,24932.900391,0

In [ ]:
X = df[['Open']]  
y = df['Close']   

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

Mean Squared Error: 397.9421518227812
R-squared: 0.9992722710133176

In [ ]:
user_input = float(input("Enter the 'Open' price: "))

input_data = pd.DataFrame({'Open': [user_input]})

predicted_close = model.predict(input_data)

print(f"Predicted 'Close' price: {predicted_close[0]}")

Predicted 'Close' price: 24565.11842107437